{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    background-image: url('Downloads/background image to use.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  