{
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}


.container {
  background-color: #a78927;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
}
  

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 60%;
  max-width: 600px;
  border-radius: 10px;
  
}

form h2 {
  text-align: center;
  color: #a78927;
  margin-bottom: 20px;
  text-shadow: 3px 3px 10px #ffee00;
  font-style:bold italic;
}

form input, textarea {
  border: 0;
  margin: 10px 0px;
  padding: 20px;
  outline: none;
  background: #01233E;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
  color: #fff;
}


form button {
  background: white;
  color: #e65b00;
  border: 1px solid #a78927;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin: 20px auto 0;
  border-radius: 30px;
  transition: all .5s ease-in;
}

form button:hover {
  border: 1px solid #a78927;
  background:  #01233E;
  color: white;
}


////NAV BAR CSS
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.mkd-normal-logo{
    float: left;
    width: 150px; 
    height: auto; }

    .mkd-normal-logo:hover{
        transform: scale(1.2);
        color:#a78927;
        }
        

.navbar {
    background-color: #01233E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 5rem;
}

.left h1 {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #fff;
}

.checkBtn {
    display: none;
}

#check {
    display: none;
}

.checkBtn {
    cursor: pointer;
    font-size: 30px;
    float: right;
    line-height: 80px;
}

.right ul {
    display: flex;
    list-style: none;
}

.right ul li a {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transform: scale(1.2);
}

.right ul li a:hover {
    background-color: #fff;
    border-radius: 7px;
    color: rgb(22, 7, 36);
}

 (max-width:805px) {
    .list {
        width: 100%;
        height: 100vh;
        background-color: rgb(22, 7, 36);
        text-align: center;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: 100%;
        transition: all 1s;
    }



#check {
        display: none;
    }

    .checkBtn {
        display: block;
    }

    #check:checked~ul {
        left: 0%;
    }

}


#court{
    border: 0;
    margin: 10px 0px;
    padding: 20px;
    outline: none;
    background: #01233E;;
    font-size: 16px;
    border-radius: 10px;
    resize: none;
    color:whitesmoke;
}



  

////BOTTOM FORM SOCIAL MEDIA CSS

#footer {
    margin: 6px;
    
    padding: 15px;
    padding-top: 150px;
    text-shadow:3px 3px 10px #5eff00;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.center-text {
    text-align: center;
}
.copyright {
    display: inline-block;
    font-weight: bold;
    color: #a78927;
    text-shadow: 3px 3px 10px #ffee00;
}


#footer a:hover{
    color: #a78927;
    background-color:black;
   
}




#footer  ul {
 padding: 5px;
 list-style-type: none;
 text-align: center;
 list-style-type: none;
 padding: 0;
 
   
}

#footer  ul li {
    display: inline;
    list-style-type: none;
    padding: 0;
      
   }

   #footer  ul li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    padding: 2em 1em;
    color:black
    text-shadow:3px 3px 10px black;
    position: relative;
      
   }


   #footer  ul li a:hover {
 color:#a78927;
    background-color:#daeecb;
    transform: scale(1.3);
}


#footer ul li a i {
  transition: transform 0.3s;
}

/* Defining the counter */
#result-list {
  counter-reset: my-counter;
  list-style-type: none;
  padding: 0;
  border: 0;
  margin: 10px 0px;
  padding: 20px;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
  text-align: center;
}

/* Style for the list items */
#result-list li {
  counter-increment: my-counter;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

/* Style for the counter */
#result-list li::before {
  content: counter(my-counter) ". ";
  font-weight: bold;
  margin-right: 10px;
}

h3 {
  text-align: center;
  color: #a78927;
  margin-bottom: 20px;
  text-shadow: 3px 3px 10px #ffee00;
  font-style:bold italic;
  text-align: center;
}

#content{

  text-align: center;
}

